<% project = data.projects[owner] %>


<div class="project-page">
  <div class="heading-cta">
    <div class="container">
    <div class="row">
        <div class="wrapper">
          <div class="inner project-intro">
           <h1><%= project.title %></h1>
           <p><%= project.description %></p>
          <%= link_to "Visit", "www.rookstart.eu", class: 'btn-card hidden-lg' %>
         </div>
       </div>
     </div>
   </div>
  </div>
  <div class="move-up-services">
    <div class="container-fluid">
      <div class="row">
         <div class="col-xs-12">
          <div class="card-c" style="background-color: <%= project.color %>">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="card-c" style="background-color: <%= project.color %>">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="card-c" style="background-color: <%= project.color %>">
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>




















<!-- Inject project data in template -->



