
<div class="about-me">

      <div class="">
        <div class="image-card" style="">
           <%= image_tag("screen-a.png", class: "iphone-2") %>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item active">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
              Strategy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Creativity</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Development</a>
              </li>
            </ul>
          <div class="card-about">
            <div class="tab-content" id="pills-tabContent">
               <div class="tab-pane fade active in" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="text general">
                  <div class="title">
                    <h1>Aligning creative strategy with exceptional results.</h1>
                  </div>
                  <p style="color: #181645; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
                  <br>
                  <div class="sub-title">
                    <div class="row">
                      <div class="col-xs-4">
                        <p>Branding<br>
                        Content Strategy<br>
                        </p>
                      </div>
                       <div class="col-xs-4">
                        <p>
                        Social Media
                        User Experience</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                 <div class="text lewagon">
                  <div class="title">
                    <h1>We have the technical skills to make it happen.</h1>
                  </div>
                  <p style="color: #181645; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
                  <br>
                  <div class="sub-title">
                    <p>Web Development<br>
                      E-Commerce</p>
                  </div>
                </div>
              </div>
            <div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
               <div class="text freelance">
                <div class="title">
                  <h1>We want to create awesome and inspiring work.</h1>
                </div>
                <p style="color: #181645; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, ut labore et dolore magna aliqua.</p>
                <br>
                <div class="sub-title">
                  <div class="row">
                    <div class="col-xs-4">
                     <p>Brand Identity<br>
                      Graphic Design
                    </div>
                    <div class="col-xs-4">
                      Web Design<br>
                      Typography
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="heading-cta">
  <div class="container">
    <div class="row">
      <div class="text">
        <div class="wrapper">
          <div class="inner">
                 <div class="col-xs-2">
             <div><%= image_tag "client_logo3.png",  class: "client-logo"  %></div>
             </div>


               <div class="col-xs-2">
             <div ><%= image_tag "client_logo_1.png", class: "client-logo" %></div>
             </div>
            <div class="col-xs-2">
             <div><%= image_tag "client_logo5.png", class: "client-logo"  %></div>
             </div>

               <div class="col-xs-2">
             <div><%= image_tag "client_logo4.png", class: "client-logo"  %></div>
             </div>


               <div class="col-xs-2">
             <div><%= image_tag "client_logo2.png",  class: "client-logo"  %></div>
             </div>


         </div>
       </div>
     </div>
 </div>
 </div>
</div>
<style type="text/css">
  .heading-cta {
    font-size: 24px;
    padding: 100px 0px;
  } 
  .high-head {
    height: 460px !important;
  }

  .heading.cta h1 {
    color: white;
    font-size: 26px !important;
    margin: auto;
    line-height: 41px;
    max-width: 930px;
  }
</style>


