<div class="heading-cta">
  <div class="row">
    <div class="text">
      <div class="wrapper">
        <div class="inner">
               <div class="col-xs-2">
           <div><%= image_tag "client_logo3.png",  class: "client-logo"  %></div>
           </div>


             <div class="col-xs-2">
           <div ><%= image_tag "client_logo_1.png", class: "client-logo" %></div>
           </div>
          <div class="col-xs-2">
           <div><%= image_tag "client_logo5.png", class: "client-logo"  %></div>
           </div>

             <div class="col-xs-2">
           <div><%= image_tag "client_logo4.png", class: "client-logo"  %></div>
           </div>


             <div class="col-xs-2">
           <div><%= image_tag "client_logo2.png",  class: "client-logo"  %></div>
           </div>


       </div>
     </div>
   </div>
 </div>
</div>
<div class="about-me">

      <div class="move-up">
        <div class="image-card" style="background-image: url(<%= image_path('profile_2.png') %>)">

          <div class="card-about">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item active">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Who am I</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Freelance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Teaching</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
               <div class="tab-pane fade active in" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="text general">
                  <div class="title">
                    <h1>Hello My Name is Martin</h1>
                  </div>
                  <div class="sub-title">
                    <p>Im a graphic designer turned web-developer passionate about educating people about design.</p>
                    <p>Currently I work with companies around Europe coming up with creative solutions for their communication challenges.</p>
                    <p>I also work part-time as an instructor @LeWagon - Europes leading web-development bootcamp.</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
               <div class="text freelance">
                <div class="title">
                  <h1>Web Development & Branding </h1>
                </div>
                <div class="sub-title">
                  <p>Im a graphic designer turned web-developer passionate about educating people about design.</p>
                  <p>Currently I work with companies around Europe coming up with creative solutions for their communication challenges.</p>
                  <p>I also work part-time as an instructor @LeWagon - Europes leading web-development bootcamp.</p>
                </div>
              </div>
              </div>
              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                 <div class="text lewagon">
                  <div class="title">
                    <h1>The Power of Coding</h1>
                  </div>
                  <div class="sub-title">
                    <p>Im a graphic designer turned web-developer passionate about educating people about design.</p>
                    <p>Currently I work with companies around Europe coming up with creative solutions for their communication challenges.</p>
                    <p>I also work part-time as an instructor @LeWagon - Europes leading web-development bootcamp.</p>
                  </div>
                </div>
              </div>

      </div>
    </div>
  </div>
</div>
