<div class="port-link">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-7 left">
        <div class="lockup">
        <%= image_tag("new.png") %>
        <h1 style="font-size: 26px; color: #e14e4e;">DesignObst.</h1>
        </div>
        <div>
          <p style="color: white;">Design & Development Studio</p>
          <h1 style="color: white;">Valuable experiences through smart design.</h1>
          <%= image_tag("light.png", class: "iphone-img", style: "width: 590px;") %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "layouts/form" %>
<%= partial "layouts/intro_car" %>
<%= partial "layouts/three_cards" %>
<%= partial "layouts/portfolio_grid" %>

